body {
    padding: 0;
    margin: 0;
    font-family: "Georgia", Time, Serif;
    font-size: 16px;
    line-height: 20px;
}

/* Main Section */

.main {
    width: 80%;
    margin: 48px auto;
}

.edit-action,
.actions{
    text-align: center;
}

.action {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    width: calc(25% - 48px);
    margin: 32px;
    padding: 16px;
    vertical-align: top;
    background-color: #fff6e0;
}

.action.first-in-line{
    margin-left: 0;
}

.action.last-in-line{
    margin-right: 0;
}

.action .title{
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 25px;
    font-family: "Georgia", sans-serif;
}

.action .period{
    margin-top: 8px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: rosybrown;
}

.action .products_num{
    margin-top: 8px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: blue;
}
.action .info{
    margin-top: 8px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #ccc;
}

.action .info a:hover,
.action .info a:active {
    color: #aaa;
}

.action .delete {
    position: absolute;
    top: 0px;
    right: 4px;
    font-family: sans-serif;
}

.action .delete a {
    color: #bbb;
    text-decoration: none;
}

.action .delete a:hover,
.action .delete a:active{
    color: red;
}

.input-group{
    margin: 16px 0;
}

.input-group label {
    display: block;
    text-align: center;
    font-weight: bold;
}

.input-group input{
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
}

.input-group #author{
    width: 200px;
}

.input-group textarea{
    width: 400px;
}

.btn {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffecd2;
    font-size: inherit;
    font-family: "Roboto", sans-serif;
    padding: 8px;
    cursor: pointer;
}

.btn:hover,
.btn:active{
    background-color: #fffe6d;
}

.info-box{
    text-align: center;
    margin: auto;
    padding: 16px;
    border-radius: 3px;
    width: 350px;
}

.info-box.fail{
    border: 1px solid #ff6b6a;
    background-color: #ffc2ba;
    color: #ff6b6a;
}

.info-box.success{
    border: 1px solid #46cc71;
    background-color: #bdffb6;
    color: #46cc71;
}